/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}

#content {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff4060;
}

p {
    color: #555;
    line-height: 1.6;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Added margin to ensure consistent space */
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4060;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}

button:hover {
    background-color: #ff1f4d;
}

.yes-button {
    margin-right: 10px;
}

.no-button {
    margin-left: 10px;
}

.yes-button.bigger {
    transform: scale(1.1);
}
#date-input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.plan-summary {
    margin-bottom: 20px;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: left;
}
.plan-summary p {
    margin: 5px 0;
}
.card {
    background-color: #ffffff;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 800px;
    text-align: center;
}

#valentine-video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.custom-message h1 {
    font-size: 2em;
    color: #ff1493; /* Deep pink color for the text */
    margin: 20px 0;
}

.email-check-button {
    padding: 10px 20px;
    background-color: #ff4060;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#user_email {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
.send-button {
    padding: 10px 20px;
    background-color: #ff4060;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    margin-bottom: 10px;
}

.options label {
    display: block;
    margin-bottom: 5px;
}

.options-heading {
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
}
#content {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    color: #ff4060;
}
p {
    color: #555;
}
.button-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 20px; /* Added margin to ensure consistent space */
}
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #ff4060;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.3s;
}
button:hover {
    background-color: #ff1f4d;
}
.yes-button {
    margin-right: 10px;
}
.no-button {
    margin-left: 10px;
}
.yes-button.bigger {
    transform: scale(1.1);
}

.options {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Adjust the space between cards */
}

.options label {
    display: flex;
    align-items: center;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.options label:hover {
    transform: scale(1.05);
}

.options label input[type="radio"] {
    margin-right: 10px;
}

.option-image {
    width: 50px; /* Adjust image size */
    height: 50px; /* Adjust image size */
    border-radius: 50%;
    margin-right: 10px;
    object-fit: cover;
}

/* Style for other input */
.other-input {
    margin-top: 10px;
}

/* Style for the submit button */
.submit-button {
    padding: 10px 20px;
    background-color: #ff4060;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.heart {
    background-color: red;
    display: inline-block;
    height: 30px;
    margin: 0 10px;
    position: relative;
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
  }
  
  .heart:before,
  .heart:after {
    content: "";
    background-color: red;
    border-radius: 50%;
    height: 30px;
    position: absolute;
    width: 30px;
  }
  
  .heart:before {
    top: -15px;
    left: 0;
  }
  
  .heart:after {
    left: 15px;
    top: 0;
  }